@import "variables";

.me {
  margin-top: $section-gap;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8rem;

    @media (max-width: $TabPort) {
      align-items: center;
      flex-direction: column;
      row-gap: 3.2rem;
    }
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    margin-top: -6.2rem;

    @media (max-width: $TabPort) {
      margin-top: 0;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      font-size: 3rem;
      flex-wrap: wrap;

      img {
        width: 7.5rem;
      }

      & > span {
        white-space: nowrap;
        span {
          color: $color-primary;
        }
      }

      @media (max-width: $TabPort) {
        font-size: 2.4rem;

        img {
          width: 5rem;
        }
      }

      @media (max-width: $Phone) {
        font-size: 2rem;

        img {
          width: 4rem;
        }
      }
    }
  }

  &__description-box {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    max-width: 75rem;
  }

  & a {
    align-self: flex-end;
  }
}
