<section class="me" id="me">
  <h2 class="heading-secondary">{{ isDE ? "Warum Ich" : "Why Me" }}</h2>
  <div class="me__container">
    <div class="me__info-list">
      <div>
        <img
          class="me__info-icon"
          src="/icons/location.png"
          alt="{{ isDE ? 'Standort-Symbol' : 'location icon' }}"
        />
        <span class="me__info-text">
          <span>{{ isDE ? "Ich bin" : "I am" }}</span>
          {{ isDE ? "in Passau ansässig" : "located in Passau" }}
        </span>
      </div>
      <div>
        <img
          class="me__info-icon"
          src="/icons/remote-work.png"
          alt="{{ isDE ? 'Remote-Arbeit-Symbol' : 'remote work icon' }}"
        />
        <span class="me__info-text">
          <span>{{ isDE ? "Offen für" : "Open for" }}</span>
          {{ isDE ? "Remote-Arbeit" : "remote work" }}
        </span>
      </div>
    </div>
    <div class="me__description-box">
      <p>
        {{
          isDE
            ? "Als erfahrener Frontend-Entwickler habe ich an einer Vielzahl verschiedener Projekte gearbeitet und entwickle saubere, skalierbare, leistungsstarke und nutzerfreundliche Webanwendungen. Teamarbeit macht mir großen Spaß, deshalb arbeite ich aktiv in großen  Open-Source-Projekten wie "
            : "As an experienced frontend developer, I have worked on a wide variety of projects and create clean, scalable, high-performance, and user-friendly web applications. I really enjoy teamwork, which is why I actively contribute to large projects like "
        }}
        <a
          href="https://getbootstrap.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Bootstrap
        </a>
        Framework {{ isDE ? " und " : " and " }}
        <a
          href="https://www.freecodecamp.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          freeCodeCamp
        </a>
        {{
          isDE
            ? "(Lernplattform), die von Millionen Menschen genutzt wird. Dort entwickle ich neue Features, behebe Bugs, teste und optimiere die Codequalität, sodass der Code klar strukturiert und konsistent bleibt. Modernste Technologien, neue Tools und bewährte Methoden gehören zu meinem Alltag. Ich lerne schnell und finde mich zügig in verschiedene, anspruchsvolle Projekte ein."
            : "(learning platform), used by millions of people. There, I develop new features, fix bugs, test, and optimize code quality to ensure the code remains clean and consistent. Modern technologies, new tools, and best practices are part of my daily routine. I learn quickly and adapt efficiently to diverse, challenging projects."
        }}
      </p>
      <a href="#contact">
        <button class="button button--outline">
          {{ isDE ? "Lass uns reden" : "Let's talk" }}
        </button>
      </a>
    </div>
  </div>
</section>
