<section class="me" id="me">
  <h2 class="heading-secondary">{{ isDE ? "Warum Ich" : "Why Me" }}</h2>
  <div class="me__container">
    <div class="me__info-list">
      <div>
        <img
          class="me__info-icon"
          src="/icons/location.png"
          alt="{{ isDE ? 'Standort-Symbol' : 'location icon' }}"
        />
        <span class="me__info-text">
          <span>{{ isDE ? "Ich bin" : "I am" }}</span>
          {{ isDE ? "in Passau ansässig" : "located in Passau" }}
        </span>
      </div>
      <div>
        <img
          class="me__info-icon"
          src="/icons/remote-work.png"
          alt="{{ isDE ? 'Remote-Arbeit-Symbol' : 'remote work icon' }}"
        />
        <span class="me__info-text">
          <span>{{ isDE ? "Offen für" : "Open for" }}</span>
          {{ isDE ? "Remote-Arbeit" : "remote work" }}
        </span>
      </div>
    </div>
    <div class="me__description-box">
      <p>
        {{
          isDE
            ? "Als erfahrener Frontend-Entwickler habe ich an einer Vielzahl verschiedener Projekte gearbeitet und entwickle saubere, skalierbare, leistungsstarke und nutzerfreundliche Webanwendungen."
            : "As an experienced frontend developer, I have worked on a wide variety of projects and create clean, scalable, high-performance, and user-friendly web applications."
        }}
      </p>

      <p>
        {{
          isDE
            ? "Ich kann sowohl eigenständig komplexe Projekte erfolgreich umsetzen als auch im Team an großen Projekten arbeiten."
            : "I can successfully deliver complex projects on my own as well as work on large projects in a team."
        }}
      </p>

      <p>
        {{
          isDE
            ? "Teamarbeit macht mir großen Spaß, deshalb arbeite ich aktiv in großen Open-Source-Projekten wie "
            : "I really enjoy teamwork, which is why I actively contribute to large projects like "
        }}
        <a
          href="https://getbootstrap.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Bootstrap
        </a>
        Framework {{ isDE ? " und " : " and " }}
        <a
          href="https://www.freecodecamp.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          freeCodeCamp
        </a>
        {{
          isDE
            ? "(Lernplattform), die von Millionen Menschen genutzt wird."
            : "(learning platform), used by millions of people."
        }}
      </p>

      <p>
        {{
          isDE
            ? "Modernste Technologien, neue Tools und bewährte Methoden gehören zu meinem Alltag. Ich lerne schnell und finde mich zügig in verschiedene, anspruchsvolle Projekte ein."
            : "Modern technologies, new tools, and best practices are part of my daily routine. I learn quickly and adapt efficiently to diverse, challenging projects."
        }}
      </p>

      <a href="#contact" class="button button--outline">
        {{ isDE ? "Lass uns reden" : "Let's talk" }}
      </a>
    </div>
  </div>
</section>
