@import "variables";

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc($section-gap + 3rem);

  &__description {
    text-align: center;
    max-width: 90rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 4.8rem;
    column-gap: 1.2rem;
    margin-top: 9.6rem;
    width: 100%;
    max-width: 140rem;

    li {
      div {
        position: relative;
        position: relative;
        perspective: 120rem;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 2.4rem;
        font-size: 1.4rem;
      }

      img {
        transition: transform 0.3s;
        box-shadow: 0 0rem 5rem rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        width: 30rem;
        transform: rotateY(37deg);
        cursor: pointer;

        @media (max-width: $TabPort) {
          width: 25rem;
        }

        &:hover {
          transform: rotateY(37deg) scale(1.1);

          & ~ .courses__course-language {
            opacity: 0;
          }
        }
      }
    }
  }

  &__course-title {
    width: 20rem;
  }

  &__course-language {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(20deg);
    position: absolute;
    top: 0;
    right: 10%;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    transition: opacity 0.3s;
  }

  &__profile-link {
    color: $color-primary;
    text-decoration: underline;
    text-align: center;
    margin-top: 4.8rem;
    text-underline-offset: 6px;
    transition: all 0.2s;

    &:hover {
      text-decoration: none;
      color: $color-primary-light;
    }
  }
}
