<section class="courses" id="contact">
  <h2 class="heading-secondary">My Courses</h2>
  <p class="courses__description">
    Ich habe erfolgreich Webentwicklungskurse auf Udemy erstellt, an denen über
    400 Teilnehmer teilgenommen haben. Durch die Erstellung dieser Kurse konnte
    ich meine Fähigkeiten nicht nur im Programmieren, sondern auch im Lehren und
    klaren Erklären komplexer Themen verbessern. Diese Erfahrung zeigt meine
    Fähigkeit, Wissen zu vermitteln und andere beim Lernen der Webentwicklung zu
    unterstützen.
  </p>
  <ul class="courses__list">
    <li>
      <div>
        <img src="/course-fullstack.png" alt="fullstack course" />
        <span class="courses__course-title"
          >Full-Stack Web App mit HTML, CSS, JavaScript & Supabase</span
        >
        <span class="courses__course-language">DE</span>
      </div>
    </li>
    <li>
      <div>
        <img
          src="/course-20-web-projects-de.png"
          alt="20 web projects (de) course"
        />
        <span class="courses__course-title"
          >20 Projekte mit HTML, CSS und JS: Moderne Webapps
        </span>
        <span class="courses__course-language">DE</span>
      </div>
    </li>
    <li>
      <div>
        <img src="/course-css-grid.png" alt="css grid course" />
        <span class="courses__course-title">Advanced CSS Grid Course</span>
        <span class="courses__course-language">EN</span>
      </div>
    </li>
    <li>
      <div>
        <img
          src="/course-20-web-projects-en.png"
          alt="20 web projects (en) course"
        />
        <span class="courses__course-title">
          20 Web Projects: HTML, CSS & Javascript
        </span>
        <span class="courses__course-language">EN</span>
      </div>
    </li>
    <li>
      <div>
        <img src="/course-clean-code.png" alt="clean code course" />
        <span class="courses__course-title">
          Clean Code Komplettkurs 2025: Moderne Programmierung</span
        >
        <span class="courses__course-language">DE</span>
      </div>
    </li>
  </ul>
  <a
    class="courses__profile-link"
    href="https://www.udemy.com/user/hamude-52/"
    target="_blank"
    >View Profile &rightarrow;</a
  >
</section>
