<section class="courses" id="courses">
  <h2 class="heading-secondary">{{ isDE ? "Meine Kurse" : "My Courses" }}</h2>
  <p class="courses__description">
    {{
      isDE
        ? "Ich habe mehrere erfolgreiche Webentwicklungskurse auf Udemy erstellt, an denen über 400 Teilnehmer teilgenommen haben. Dabei konnte ich nicht nur meine Programmierfähigkeiten vertiefen, sondern auch meine Fähigkeit, komplexe Themen klar zu erklären und Wissen effektiv zu vermitteln. Diese Erfahrung zeigt, dass ich Wissen effektiv weitergeben und andere beim Lernen der Webentwicklung unterstützen kann."
        : "I have successfully created several web development courses on Udemy, with over 400 students. Through creating these courses, I have improved not only my programming skills but also my ability to teach and clearly explain complex topics. This experience shows that I can effectively share knowledge and support others in learning web development."
    }}
  </p>
  <ul class="courses__list">
    <li>
      <div>
        <img src="/course-fullstack.png" alt="fullstack course" />
        <span class="courses__course-title">
          {{
            isDE
              ? "Full-Stack Web App mit HTML, CSS, JavaScript & Supabase"
              : "Full-Stack Web App with HTML, CSS, JavaScript & Supabase"
          }}
        </span>
        <span class="courses__course-language">DE</span>
      </div>
    </li>
    <li>
      <div>
        <img
          src="/course-20-web-projects-de.png"
          alt="20 web projects (de) course"
        />
        <span class="courses__course-title">
          {{
            isDE
              ? "20 Projekte mit HTML, CSS und JS: Moderne Webapps"
              : "20 Projects with HTML, CSS & JS: Modern Web Apps"
          }}
        </span>
        <span class="courses__course-language">DE</span>
      </div>
    </li>
    <li>
      <div>
        <img src="/course-css-grid.png" alt="css grid course" />
        <span class="courses__course-title">
          {{
            isDE
              ? "Fortgeschrittener CSS Grid Kurs"
              : "Advanced CSS Grid Course"
          }}
        </span>
        <span class="courses__course-language">EN</span>
      </div>
    </li>
    <li>
      <div>
        <img
          src="/course-20-web-projects-en.png"
          alt="20 web projects (en) course"
        />
        <span class="courses__course-title">
          {{
            isDE
              ? "20 Webprojekte: HTML, CSS & Javascript"
              : "20 Web Projects: HTML, CSS & Javascript"
          }}
        </span>
        <span class="courses__course-language">EN</span>
      </div>
    </li>
    <li>
      <div>
        <img src="/course-clean-code.png" alt="clean code course" />
        <span class="courses__course-title">
          {{
            isDE
              ? "Clean Code Komplettkurs 2025: Moderne Programmierung"
              : "Clean Code Complete Course 2025: Modern Programming"
          }}
        </span>
        <span class="courses__course-language">DE</span>
      </div>
    </li>
  </ul>
  <a
    class="courses__profile-link"
    href="https://www.udemy.com/user/hamude-52/"
    target="_blank"
    >{{ isDE ? "Profil ansehen →" : "View Profile →" }}</a
  >
</section>
