@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  &:focus-visible {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.5rem rgba($color-primary, 0.5) !important;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: $color-secondary;
  background-color: $color-white;
  font-size: 1.8rem;
  line-height: 1.5;

  section {
    padding: 3.2rem;

    &:not(.projects) {
      max-width: 192rem;
      margin: 0 auto;
    }
  }
}

button,
a {
  font-family: inherit;
}

a {
  color: $color-primary;
  transition: color 0.2s;
  text-decoration-line: underline;
  text-underline-offset: 2px;

  &:hover {
    color: $color-primary-light;
  }
}

.active {
  background-color: $color-primary-light;
  color: $color-white;
}

.heading-secondary {
  text-align: center;
  font-size: 6rem;
  color: $color-primary;
  font-family: "Anta", sans-serif;
  margin-bottom: 4.8rem;

  @media (max-width: $Desktop) {
    font-size: 4.4rem;
  }

  @media (max-width: $TabLand) {
    font-size: 3.6rem;
  }

  @media (max-width: $Phone) {
    font-size: 2.8rem;
  }
}

.button {
  padding: 0.8rem 3.2rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  text-decoration: none;

  @media (max-width: $TabPort) {
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
  }

  &--filled {
    color: $color-white !important;
    background-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary-light;
    }
  }

  &--outline {
    box-shadow: 0 0 0 1px $color-primary;
    background-color: transparent;
    color: $color-primary;

    &:hover:not(:disabled) {
      color: $color-white;
      background-color: $color-primary-light;
      box-shadow: 0 0 0 1px $color-primary-light;
    }
  }
}

.toast-success {
  width: fit-content !important;
  background-color: $color-primary-light !important;
  color: $color-white !important;
}

.toast-message {
  font-size: 1.4rem;
}

.logo-mobile {
  display: none;
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 4rem;

  @media (max-width: $TabPort) {
    display: block;
  }
}

app-legal-notice,
app-not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-legal-notice,
app-privacy-policy {
  h1 {
    margin-bottom: 1rem;
    color: $color-primary;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 0.9;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.9rem;
    color: $color-primary-light;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: $color-secondary;
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
    color: $color-secondary-light;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.7;
    color: $color-secondary;
  }

  ul {
    list-style-position: inside;
  }
}

app-footer {
  margin-top: auto;
}
