$color-primary: #4070f4;
$color-primary-light: #668df6;
$color-primary-light-2: #c6d4fc;
$color-primary-light-3: #ecf1fe;
$color-secondary: #122734;
$color-secondary-light: #2a3d48;
$color-red: #ef233c;
$color-white: #ffffff;

$section-gap: 6.4rem;

// Breakpoints
$Desktop: 112.5em;
$TabLand: 78.125em;
$TabPort: 59.375em;
$Phone: 37.5em;
