<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__img-box">
      <img class="hero__bg-shape" src="/bg-shape.png" alt="background shape" />
      <img class="hero__img" src="/img.png" alt="placeholder image" />
    </div>
    <div class="hero__text-box">
      <img class="hero__logo" src="/logo.png" alt="logo" />
      <h1 class="hero__title">Mohamad Salman</h1>
      <h2 class="hero__subtitle">FRONTEND DEVELOPER</h2>
      <a href="#me">
        <img
          class="hero__icon--arrow-down"
          src="/icons/arrow-down.png"
          alt="icon arrow down"
        />
      </a>
    </div>
  </div>
  <div class="hero__social-icons">
    <img src="/icons/email.png" alt="icon email" />
    <img src="/icons/github.png" alt="icon github" />
    <img src="/icons/linkedin.png" alt="icon linkedin" />
  </div>
</section>
