<section class="hero" id="hero">
  <img class="logo-mobile" src="/logo-blue.png" alt="logo" (click)="goHome()" />

  <div class="hero__container">
    <div class="hero__img-box">
      <img class="hero__bg-shape" src="/blob.png" alt="background shape" />
      <img class="hero__img" src="/img.png" alt="image" />
      <img
        class="hero__icon-curved-line hero__icon"
        src="/icons/curved-line.png"
        alt="icon curved line"
      />
      <img
        class="hero__icon-square hero__icon"
        src="/icons/square.png"
        alt="icon square"
      />
    </div>
    <div class="hero__text-box">
      <img class="hero__logo" src="/logo-blue.png" alt="logo" />
      <h1 class="hero__title">Mohamad Salman</h1>
      <h2 class="hero__subtitle">FRONTEND DEVELOPER</h2>
      <a href="#me">
        <img
          class="hero__icon--arrow-down"
          src="/icons/arrow-down.png"
          alt="icon arrow down"
        />
      </a>
      <img
        class="hero__icon-blank hero__icon"
        src="/icons/blank.png"
        alt="icon blank"
      />
      <img
        class="hero__icon-triangle hero__icon"
        src="/icons/triangle.png"
        alt="icon triangle"
      />
      <img
        class="hero__icon-circle hero__icon"
        src="/icons/circle.png"
        alt="icon circle"
      />
    </div>
    <div class="hero__social-icons">
      <a href="mailto:muhamad.salman.dev@gmail.com">
        <img src="/icons/email.png" alt="Email" />
      </a>
      <a href="https://github.com/MohamadSalman11" target="_blank">
        <img src="/icons/github.png" alt="Github" />
      </a>
      <a
        href="https://www.linkedin.com/in/mohamad-salman-440816379/"
        target="_blank"
      >
        <img src="/icons/linkedin.png" alt="Linkedin" />
      </a>
    </div>
  </div>
</section>
