@import "variables";

.hero {
  padding: 12.8rem;
  padding-bottom: 0;

  @media (max-width: $TabLand) {
    padding: 9.6rem;
  }

  @media (max-width: $TabPort) {
    padding: 3.2rem;
    margin-top: 6.4rem;
  }

  @media (max-width: $Phone) {
    padding: 2.4rem;
  }

  &__container {
    position: relative;
    display: flex;
    column-gap: 8rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $TabPort) {
      flex-direction: column;
      row-gap: 3.2rem;
    }
  }

  &__logo {
    margin-bottom: 5.2rem;

    @media (max-width: $TabLand) {
      width: 5rem;
      margin-bottom: 2.4rem;
    }

    @media (max-width: $TabPort) {
      display: none;
    }

    &-mobile {
      display: none;
      position: absolute;
      top: 1rem;
      left: 2rem;
      width: 4rem;

      @media (max-width: $TabPort) {
        display: block;
      }
    }
  }

  &__img-box {
    position: relative;
    user-select: none;

    @media (max-width: $TabPort) {
      width: fit-content;
      position: static;
    }
  }

  &__text-box {
    position: relative;
    font-family: "Anta", sans-serif;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;

    @media (max-width: $TabPort) {
      position: static;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: -7rem;
    transform: translateX(-50%);
    width: 74rem;

    @media (max-width: $Desktop) {
      width: 60rem;
    }

    @media (max-width: $TabLand) {
      width: 38rem;
    }

    @media (max-width: $TabPort) {
      top: 1%;
      border-radius: 200px;
    }

    @media (max-width: $Phone) {
      width: 30rem;
      top: 4%;
    }
  }

  &__bg-shape {
    @media (max-width: $Desktop) {
      width: 45rem;
    }

    @media (max-width: $TabLand) {
      width: 30rem;
    }

    @media (max-width: $TabPort) {
      width: 35rem;
    }

    @media (max-width: $Phone) {
      width: 30rem;
    }
  }

  &__title {
    font-size: 8.6rem;
    white-space: nowrap;

    @media (max-width: $Desktop) {
      font-size: 6.2rem;
    }

    @media (max-width: $TabLand) {
      font-size: 4.4rem;
    }

    @media (max-width: $Phone) {
      font-size: 3rem;
    }
  }

  &__subtitle {
    font-size: 4rem;

    @media (max-width: $Desktop) {
      font-size: 3rem;
    }

    @media (max-width: $TabLand) {
      font-size: 2.4rem;
    }

    @media (max-width: $Phone) {
      font-size: 1.4rem;
    }
  }

  &__icon--arrow-down {
    margin-top: 12.8rem;
    cursor: pointer;

    @media (max-width: $Desktop) {
      margin-top: 4rem;
      width: 3rem;
    }

    @media (max-width: $TabLand) {
      margin-top: 3rem;
      width: 2rem;
    }

    @media (max-width: $TabPort) {
      width: 3rem;
    }
  }

  &__social-icons {
    position: absolute;
    top: -4%;
    right: -3%;
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    & img {
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }

    @media (max-width: $Desktop) {
      right: -7%;
    }

    & img {
      cursor: pointer;

      @media (max-width: $Desktop) {
        width: 2.5rem;
      }
    }

    @media (max-width: $TabPort) {
      top: 0%;
      right: 1%;
    }

    @media (max-width: $TabPort) {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    z-index: -10;

    @media (max-width: $Desktop) {
      width: 4rem;
    }

    @media (max-width: $TabLand) {
      width: 3rem;
    }

    &-circle {
      left: -8%;
      top: -10%;

      @media (max-width: $TabPort) {
        left: 90%;
        top: 30%;
      }

      @media (max-width: $TabPort) {
        left: 95%;
        top: 50%;
      }
    }

    &-triangle {
      right: -15%;
      bottom: 25%;

      @media (max-width: $TabPort) {
        right: 8%;
        bottom: 20%;
      }

      @media (max-width: $Phone) {
        right: 2%;
        bottom: 20%;
      }
    }

    &-square {
      left: -20%;
      top: 40%;

      @media (max-width: $TabPort) {
        left: 10%;
      }

      @media (max-width: $Phone) {
        left: 5%;
        top: 56%;
      }
    }

    &-blank {
      left: 2%;
      bottom: 20%;

      @media (max-width: $TabPort) {
        left: 10%;
        bottom: 0;
      }
    }

    &-curved-line {
      left: -10%;
      top: -7%;

      @media (max-width: $TabPort) {
        left: 10%;
        top: 7%;
      }

      @media (max-width: $Phone) {
        left: 0%;
        top: 3%;
      }
    }
  }
}
