<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__img-box">
      <img class="hero__bg-shape" src="/blob.png" alt="background shape" />
      <img class="hero__img" src="/img.png" alt="placeholder image" />
      <img
        class="hero__icon-curved-line hero__icon"
        src="/icons/curved-line.png"
        alt="icon curved line"
      />
      <img
        class="hero__icon-square hero__icon"
        src="/icons/square.png"
        alt="icon square"
      />
    </div>
    <div class="hero__text-box">
      <img class="hero__logo" src="/logo-blue.png" alt="logo" />
      <h1 class="hero__title">Mohamad Salman</h1>
      <h2 class="hero__subtitle">FRONTEND DEVELOPER</h2>
      <a href="#me">
        <img
          class="hero__icon--arrow-down"
          src="/icons/arrow-down.png"
          alt="icon arrow down"
        />
      </a>
      <img
        class="hero__icon-blank hero__icon"
        src="/icons/blank.png"
        alt="icon blank"
      />
      <img
        class="hero__icon-triangle hero__icon"
        src="/icons/triangle.png"
        alt="icon triangle"
      />
    </div>

    <div class="hero__social-icons">
      <img src="/icons/email.png" alt="icon email" />
      <img src="/icons/github.png" alt="icon github" />
      <img src="/icons/x.png" alt="icon x" />
    </div>
  </div>

  <img
    class="hero__icon-circle hero__icon"
    src="/icons/circle.png"
    alt="icon circle"
  />
</section>
