<div class="navbar" [class.navbar-privacy]="isPrivacyPolicy">
  <img
    class="navbar__icon-menu navbar__icon"
    src="/icons/menu.png"
    alt="icon menu"
    (click)="toggleMenu()"
  />
  <div
    class="navbar__container max-width"
    [class.navbar__container--open]="isMenuOpen"
  >
    <img
      class="navbar__logo-white"
      src="/logo-white.png"
      alt="logo"
      (click)="goHome()"
    />
    <img
      class="navbar__icon-close navbar__icon"
      src="/icons/close.png"
      alt="icon close"
      (click)="closeMenu()"
    />

    <nav>
      <ul class="navbar__list">
        <li>
          <a href="#me">{{ isDE ? "Warum Ich" : "Why Me" }}</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#projects">{{ isDE ? "Projekte" : "Projects" }}</a>
        </li>
        <li>
          <a href="#courses">{{ isDE ? "Kurse" : "Courses" }}</a>
        </li>
        <li>
          <a href="#contact">{{ isDE ? "Kontakt" : "Contact" }}</a>
        </li>
      </ul>
    </nav>

    <div class="navbar__language-box">
      <span (click)="setLanguage(true)" [class.active]="isDE">DE</span>
      <span (click)="setLanguage(false)" [class.active]="!isDE">EN</span>
    </div>
  </div>
</div>
