<div class="navbar" [class.navbar-route]="isRoute">
  <img
    class="navbar__icon-menu navbar__icon"
    src="/icons/menu.png"
    alt="icon menu"
    (click)="toggleMenu()"
  />
  <div
    class="navbar__container max-width"
    [class.navbar__container--open]="isMenuOpen"
  >
    <img
      class="navbar__logo-white"
      src="/logo-white.png"
      alt="logo"
      (click)="goHome()"
    />
    <img
      class="navbar__icon-close navbar__icon"
      src="/icons/close.png"
      alt="icon close"
      (click)="closeMenu()"
    />

    <nav>
      <ul class="navbar__list">
        <li (click)="toggleMenu()">
          <a [routerLink]="['/']" fragment="me">{{
            isDE ? "Warum Ich" : "Why Me"
          }}</a>
        </li>
        <li (click)="toggleMenu()">
          <a [routerLink]="['/']" fragment="skills">Skills</a>
        </li>
        <li (click)="toggleMenu()">
          <a [routerLink]="['/']" fragment="projects">{{
            isDE ? "Projekte" : "Projects"
          }}</a>
        </li>
        <li (click)="toggleMenu()">
          <a [routerLink]="['/']" fragment="courses">{{
            isDE ? "Kurse" : "Courses"
          }}</a>
        </li>
        <li (click)="toggleMenu()">
          <a [routerLink]="['/']" fragment="contact">{{
            isDE ? "Kontakt" : "Contact"
          }}</a>
        </li>
      </ul>
    </nav>

    <div class="navbar__language-box">
      <span (click)="setLanguage(true)" [class.active]="isDE">DE</span>
      <span (click)="setLanguage(false)" [class.active]="!isDE">EN</span>
    </div>
  </div>
</div>
