@import "variables";

.legal-notice {
  margin: 4.8rem auto;
  padding: 0 5.6rem;
  width: 100%;
  max-width: 159rem;

  @media (max-width: $TabPort) {
    padding: 0 3.8rem;
    margin-top: 9rem;
  }
}
