<section class="skills" id="skills">
  <h2 class="heading-secondary">{{ isDE ? "Meine Skill's" : "My Skills" }}</h2>
  <ul class="skills__list">
    <li>
      <img src="/skills/angular.svg" alt="Angular" />
      <span>Angular</span>
    </li>
    <li>
      <img src="/skills/react.svg" alt="React" />
      <span>React</span>
    </li>
    <li>
      <img src="/skills/ts.svg" class="skills__icon-ts" alt="TypeScript" />
      <span>TypeScript</span>
    </li>
    <li>
      <img src="/skills/js.svg" alt="JavaScript" />
      <span>JavaScript</span>
    </li>
    <li>
      <img src="/skills/html.svg" alt="HTML" />
      <span>HTML</span>
    </li>
    <li>
      <img src="/skills/css.svg" class="skills__icon-css" alt="CSS" />
      <span>CSS</span>
    </li>
    <li>
      <img src="/skills/sass.svg" class="skills__icon-scss" alt="SCSS/SASS" />
      <span>SCSS/SASS</span>
    </li>
    <li>
      <img
        src="/skills/tailwind.svg"
        class="skills__icon-tailwind"
        alt="Tailwind CSS"
      />
      <span>Tailwind CSS</span>
    </li>
    <li>
      <img
        src="/skills/bootstrap.svg"
        class="skills__icon-bootstrap"
        alt="Bootstrap"
      />
      <span>Bootstrap</span>
    </li>
    <li>
      <img
        src="/skills/styled-components.svg"
        class="skills__icon-styled-components"
        alt="Styled Components"
      />
      <span>Styled Components</span>
    </li>
    <li>
      <img
        src="/skills/firebase.svg"
        class="skills__icon-firebase"
        alt="Firebase"
      />
      <span>Firebase</span>
    </li>
    <li>
      <img
        src="/skills/supabase.svg"
        class="skills__icon-supabase"
        alt="Supabase"
      />
      <span>Supabase</span>
    </li>
    <li>
      <img
        src="/skills/testing.svg"
        class="skills__icon-testing"
        alt="Testing"
      />
      <span>Testing</span>
    </li>
    <li>
      <img src="/skills/git.svg" class="skills__icon-git" alt="Git" />
      <span>Git</span>
    </li>
    <li>
      <img
        src="/skills/deployment.svg"
        class="skills__icon-deployment"
        alt="Deployment"
      />
      <span>Deployment</span>
    </li>
    <li>
      <img
        src="/skills/code-review.svg"
        class="skills__icon-code-review"
        alt="Code Review"
      />
      <span>Code Review</span>
    </li>
    <li>
      <img src="/skills/scrum.png" class="skills__icon-scrum" alt="Scrum" />
      <span>Scrum</span>
    </li>
  </ul>
</section>
