@import "variables";

.skills {
  margin-top: $section-gap;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5.2rem;
    list-style: none;
    max-width: 100rem;
    margin: 0 auto;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 1.2rem;
      text-align: center;
      color: $color-primary;
    }
  }
}
