@import "variables";

.skills {
  margin-top: $section-gap;
  margin-bottom: calc($section-gap + 5rem);

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5.2rem;
    list-style: none;
    max-width: 100rem;
    margin: 0 auto;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 1.2rem;
      text-align: center;
      color: $color-primary;
    }
  }

  &__icon {
    &-ts {
      width: 7.2rem;

      & ~ span {
        transform: translateY(-1px);
      }
    }

    &-scss {
      width: 7rem;

      & ~ span {
        transform: translateY(-4px);
      }
    }

    &-tailwind ~ span {
      transform: translateY(-7.5px);
    }

    &-bootstrap ~ span {
      transform: translateY(-6px);
    }

    &-styled-components {
      width: 10rem;

      ~ span {
        transform: translateY(-19px);
      }
    }

    &-firebase {
      width: 6.7rem;

      ~ span {
        transform: translateY(-2px);
      }
    }

    &-supabase {
      width: 6.8rem;

      ~ span {
        transform: translateY(-2px);
      }
    }

    &-testing {
      width: 6.7rem;

      ~ span {
        transform: translateY(-2px);
      }
    }

    &-git {
      width: 6.7rem;

      ~ span {
        transform: translateY(-2px);
      }
    }

    &-css {
      width: 7.05rem;

      & ~ span {
        transform: translateY(-3px);
      }
    }

    &-scrum {
      width: 6.5rem;

      ~ span {
        transform: translateY(-2px);
      }
    }

    &-deployment {
      width: 5.5rem;
    }

    &-code-review ~ span {
      transform: translateY(-7px);
    }
  }
}
