<section class="skills" id="skills">
  <h2 class="heading-secondary">{{ isDE ? "Meine Skill's" : "My Skills" }}</h2>
  <ul class="skills__list">
    <li>
      <img src="/skills/react.png" alt="React" />
      <span>React</span>
    </li>
    <li>
      <img src="/skills/ts.png" alt="TypeScript" />
      <span>TypeScript</span>
    </li>
    <li>
      <img src="/skills/js.png" alt="JavaScript" />
      <span>JavaScript</span>
    </li>
    <li>
      <img src="/skills/html.png" alt="HTML" />
      <span>HTML</span>
    </li>
    <li>
      <img src="/skills/css.png" alt="CSS" />
      <span>CSS</span>
    </li>
    <li>
      <img src="/skills/sass.png" alt="SCSS/SASS" />
      <span>SCSS/SASS</span>
    </li>
    <li>
      <img src="/skills/tailwind.png" alt="Tailwind CSS" />
      <span>Tailwind CSS</span>
    </li>
    <li>
      <img src="/skills/bootstrap.png" alt="Bootstrap" />
      <span>Bootstrap</span>
    </li>
    <li>
      <img src="/skills/styled-components.png" alt="Styled Components" />
      <span>Styled Components</span>
    </li>
    <li>
      <img src="/skills/api.png" alt="REST API" />
      <span>REST API</span>
    </li>
    <li>
      <img src="/skills/firebase.png" alt="Firebase" />
      <span>Firebase</span>
    </li>
    <li>
      <img src="/skills/supabase.png" alt="Supabase" />
      <span>Supabase</span>
    </li>
    <li>
      <img src="/skills/testing.png" alt="testing" />
      <span>Testing</span>
    </li>
    <li>
      <img src="/skills/git.png" alt="Git" />
      <span>Git</span>
    </li>
    <li>
      <img src="/skills/scrum.png" alt="Scrum" />
      <span>Scrum</span>
    </li>
  </ul>
</section>
