<app-navbar></app-navbar>
<img class="logo-mobile" src="/logo-blue.png" alt="logo" (click)="goHome()" />
<div class="not-found">
  <h1 class="not-found__title">404</h1>
  <h2 class="not-found__subtitle">Page Not Found</h2>
  <hr class="not-found__divider" />
  <p class="not-found__message">
    You’re not lost in my portfolio. Don’t worry, you can always go back to see
    my work.
  </p>
  <button class="button button--outline" (click)="goHome()">
    Back to portfolio
  </button>
</div>
<app-footer></app-footer>
