@import "variables";

.privacy-policy {
  padding: 0 13rem;

  &__container {
    max-width: 160rem;
    margin: 3.2rem auto;

    @media (max-width: $TabPort) {
      margin: 8rem auto;
    }
  }

  @media (max-width: $TabPort) {
    padding: 0 3.8rem;
  }

  &__button-go-home {
    background-color: transparent;
    border: none;
    margin-bottom: 3.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $color-primary-light-3;
    }

    img {
      width: 2.5rem;
    }

    @media (max-width: $TabPort) {
      position: absolute;
      top: 0.8rem;
      left: 2rem;
    }
  }

  h1 {
    margin-bottom: 1rem;
    color: $color-primary;
    hyphens: auto;
    word-wrap: break-word;
    line-height: 0.9;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.9rem;
    color: $color-primary-light;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: $color-secondary;
  }

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
    color: $color-secondary-light;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    line-height: 1.7;
    color: $color-secondary;
  }

  ul {
    list-style-position: inside;
  }
}
