@import "variables";

.privacy-policy {
  margin: 4.8rem auto;
  padding: 0 5.6rem;
  max-width: 160rem;

  @media (max-width: $TabPort) {
    padding: 0 3.8rem;
    margin-top: 10rem;
  }

  &__button-go-home {
    background-color: transparent;
    border: none;
    margin-bottom: 3.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $color-primary-light-3;
    }

    img {
      width: 2.5rem;
    }
  }
}
