<div class="navbar">
  <div class="navbar__container max-width">
    <img src="/logo-dark.png" alt="logo" />
    <nav>
      <ul class="navbar__list">
        <li>
          <a href="#me">Why Me</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="navbar__language-box">
      <span>DE</span>
      <span class="active">EN</span>
    </div>
  </div>
</div>
