<section class="contact" id="contact">
  <h2 class="heading-secondary">Contact me</h2>
  <div class="contact__container">
    <div class="contact__text-box">
      <div class="contact__description">
        <p>
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work. Example: Feel free to get in touch with job offers or
          opportunities such as …
        </p>
      </div>
      <div class="contact__details">
        <p class="contact__info">
          <img
            src="/icons/email-blue.png"
            alt="Mail icon"
            class="contact__icon"
          />
          E-mail: fohrer.developer&#64;gmail.com
        </p>
        <p class="contact__info">
          <img
            src="/icons/phone-blue.png"
            alt="Phone icon"
            class="contact__icon"
          />
          Tel: 0157 123 456 68
        </p>
      </div>
    </div>
    <form class="contact__form">
      <div class="contact__form-row">
        <div class="contact__form-group">
          <label for="name" class="contact__label">Your name</label>
          <input type="text" id="name" class="contact__input" />
        </div>
        <div class="contact__form-group">
          <label for="email" class="contact__label">Your Email</label>
          <input type="email" id="email" class="contact__input" />
        </div>
      </div>
      <div class="contact__form-group">
        <label for="message" class="contact__label">Your Message</label>
        <textarea id="message" rows="6" class="contact__textarea"></textarea>
      </div>
      <div class="contact__checkbox">
        <input type="checkbox" id="privacy" class="contact__checkbox-input" />
        <label for="privacy" class="contact__checkbox-label">
          I've read the <a href="#" class="contact__link">privacy policy</a> and
          agree to the processing of my data as outlined.
        </label>
      </div>
      <button class="contact__button" type="submit" disabled>Send</button>
    </form>
  </div>

  <a class="arrow-up-link" href="#hero">
    <img class="arrow-up" src="/icons/arrow-up.png" />
  </a>
</section>
