<section class="contact" id="contact">
  <h2 class="heading-secondary">
    {{ isDE ? "Kontaktieren Sie mich" : "Contact me" }}
  </h2>
  <div class="contact__container">
    <div class="contact__text-box">
      <div class="contact__description">
        <p>
          {{
            isDE
              ? "Ich freue mich immer, neue Leute kennenzulernen! Ob Jobangebote, Kooperationen oder einfach nur ein Hallo – melde dich gern. Ich suche Frontend-Entwickler-Rollen, in denen ich sauberen Code, kreative Lösungen und Teamarbeit einbringen kann. Lass uns gemeinsam Großartiges schaffen!"
              : "I’m always excited to connect with new people! Whether you have a job offer, a collaboration idea, or just want to say hello, feel free to reach out. I’m interested in frontend development roles where I can contribute clean code, creative solutions, and work as part of a dynamic team. Let’s build something great together!"
          }}
        </p>
      </div>
      <div class="contact__details">
        <p class="contact__info">
          <img
            src="/icons/email-blue.png"
            alt="{{ isDE ? 'Mail Symbol' : 'Mail icon' }}"
            class="contact__icon"
          />
          {{ isDE ? "E-Mail" : "E-mail" }}: muhamad.salman.dev&#64;gmail.com
        </p>
        <p class="contact__info">
          <img
            src="/icons/phone-blue.png"
            alt="{{ isDE ? 'Telefon Symbol' : 'Phone icon' }}"
            class="contact__icon"
          />
          {{ isDE ? "Tel" : "Tel" }}: 0157 123 456 68
        </p>
      </div>
    </div>
    <form
      class="contact__form"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <div class="contact__form-row">
        <div class="contact__form-group">
          <label for="name" class="contact__label">
            {{ isDE ? "Ihr Name" : "Your name" }}
          </label>
          <input
            [(ngModel)]="contactData.name"
            name="name"
            #name="ngModel"
            type="text"
            id="name"
            class="contact__input"
            required
          />
          <span
            *ngIf="!name.valid && contactForm.submitted"
            class="contact__error-text"
          >
            {{
              isDE
                ? "Bitte geben Sie Ihren Namen ein"
                : "Please enter your name"
            }}
          </span>
        </div>

        <div class="contact__form-group">
          <label for="email" class="contact__label">
            {{ isDE ? "Ihre E-Mail" : "Your Email" }}
          </label>
          <input
            [(ngModel)]="contactData.email"
            name="email"
            #email="ngModel"
            type="email"
            id="email"
            class="contact__input"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            required
          />
          <span
            *ngIf="!email.valid && contactForm.submitted"
            class="contact__error-text"
          >
            {{
              isDE
                ? "Bitte geben Sie eine gültige E-Mail-Adresse ein"
                : "Please enter a valid email address"
            }}
          </span>
        </div>
      </div>

      <div class="contact__form-group">
        <label for="message" class="contact__label">
          {{ isDE ? "Ihre Nachricht" : "Your Message" }}
        </label>
        <textarea
          [(ngModel)]="contactData.message"
          #message="ngModel"
          name="message"
          id="message"
          rows="6"
          class="contact__textarea"
          required
        ></textarea>
        <span
          *ngIf="!message.valid && contactForm.submitted"
          class="contact__error-text"
        >
          {{
            isDE
              ? "Bitte geben Sie eine Nachricht ein"
              : "Please enter a message"
          }}
        </span>
      </div>

      <div class="contact__checkbox">
        <input type="checkbox" id="privacy" class="contact__checkbox-input" />
        <label for="privacy" class="contact__checkbox-label">
          {{ isDE ? "Ich habe die " : "I've read the " }}
          <a [routerLink]="'/privacy-policy'" class="contact__link">
            {{ isDE ? "Datenschutzerklärung" : "privacy policy" }}
          </a>
          {{
            isDE
              ? " gelesen und stimme der Verarbeitung meiner Daten zu."
              : " and agree to the processing of my data as outlined."
          }}
        </label>
      </div>

      <button class="contact__button" type="submit">
        {{ isDE ? "Senden" : "Send" }}
      </button>
    </form>
  </div>

  <a class="arrow-up-link" href="#hero">
    <img class="arrow-up" src="/icons/arrow-up.png" />
  </a>
</section>
