<section class="contact" id="contact">
  <h2 class="heading-secondary">
    {{ isDE ? "Kontaktieren Sie mich" : "Contact me" }}
  </h2>
  <div class="contact__container">
    <div class="contact__text-box">
      <div class="contact__description">
        <p>
          {{
            isDE
              ? "Ich freue mich immer darauf, neue Kontakte zu knüpfen! Egal ob Jobangebote oder einfach nur ein nettes Gespräch – melden Sie sich gern bei mir. Ich suche nach Frontend-Entwickler-Positionen, in denen ich sauberen Code schreiben, kreative Lösungen einbringen und im Team erfolgreich zusammenarbeiten kann. Gemeinsam können wir Großartiges erreichen!"
              : "I’m always happy to connect with new people! Whether it’s job offers or just a friendly hello — feel free to reach out. I’m looking for frontend developer roles where I can write clean code, bring creative solutions, and work well within a team. Together, we can create something great!"
          }}
        </p>
      </div>
      <div class="contact__details">
        <p class="contact__info">
          <img
            src="/icons/email-blue.png"
            alt="{{ isDE ? 'Mail Symbol' : 'Mail icon' }}"
            class="contact__icon"
          />
          {{ isDE ? "E-Mail" : "E-mail" }}: muhamad.salman.dev&#64;gmail.com
        </p>
        <p class="contact__info">
          <img
            src="/icons/phone-blue.png"
            alt="{{ isDE ? 'Telefon Symbol' : 'Phone icon' }}"
            class="contact__icon"
          />
          {{ isDE ? "Tel" : "Tel" }}: 0157 123 456 68
        </p>
      </div>
    </div>
    <form
      class="contact__form"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
    >
      <div class="contact__form-row">
        <div class="contact__form-group">
          <label for="name" class="contact__label">
            {{ isDE ? "Ihr Name" : "Your name" }}
          </label>
          <input
            [(ngModel)]="contactData.name"
            name="name"
            #name="ngModel"
            type="text"
            id="name"
            class="contact__input"
            required
          />
          <span
            *ngIf="!name.valid && contactForm.submitted"
            class="contact__error-text"
          >
            {{
              isDE
                ? "Bitte geben Sie Ihren Namen ein"
                : "Please enter your name"
            }}
          </span>
        </div>

        <div class="contact__form-group">
          <label for="email" class="contact__label">
            {{ isDE ? "Ihre E-Mail" : "Your Email" }}
          </label>
          <input
            [(ngModel)]="contactData.email"
            name="email"
            #email="ngModel"
            type="email"
            id="email"
            class="contact__input"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            required
          />
          <span
            *ngIf="!email.valid && contactForm.submitted"
            class="contact__error-text"
          >
            {{
              isDE
                ? "Bitte geben Sie eine gültige E-Mail-Adresse ein"
                : "Please enter a valid email address"
            }}
          </span>
        </div>
      </div>

      <div class="contact__form-group">
        <label for="message" class="contact__label">
          {{ isDE ? "Ihre Nachricht" : "Your Message" }}
        </label>
        <textarea
          [(ngModel)]="contactData.message"
          #message="ngModel"
          name="message"
          id="message"
          rows="6"
          class="contact__textarea"
          required
        ></textarea>
        <span
          *ngIf="!message.valid && contactForm.submitted"
          class="contact__error-text"
        >
          {{
            isDE
              ? "Bitte geben Sie eine Nachricht ein"
              : "Please enter a message"
          }}
        </span>
      </div>

      <div class="contact__checkbox">
        <div>
          <input
            type="checkbox"
            id="privacy"
            name="privacy"
            class="contact__checkbox-input"
            [(ngModel)]="contactData.privacyAccepted"
            #privacy="ngModel"
            required
          />
          <label for="privacy" class="contact__checkbox-label">
            {{ isDE ? "Ich habe die " : "I've read the " }}
            <a [routerLink]="'/privacy-policy'" class="contact__link">
              {{ isDE ? "Datenschutzerklärung" : "privacy policy" }}
            </a>
            {{
              isDE
                ? " gelesen und stimme der Verarbeitung meiner Daten zu."
                : " and agree to the processing of my data as outlined."
            }}
          </label>
        </div>
        <span
          *ngIf="!privacy.valid && contactForm.submitted"
          class="contact__error-text"
        >
          {{
            isDE
              ? "Bitte akzeptieren Sie die Datenschutzerklärung"
              : "Please accept the privacy policy"
          }}
        </span>
      </div>

      <button class="contact__button button button--outline" type="submit">
        {{ isDE ? "Senden" : "Send" }}
      </button>
    </form>
  </div>

  <a class="arrow-up-link" href="#hero">
    <img class="arrow-up" src="/icons/arrow-up.png" />
  </a>
</section>
